# Introduction to the Python language

**Note**: This notebooks is not really a ready-to-use tutorial but rather serves as a table of contents that we will fill during the short course. It might later be useful as a memo, but it clearly lacks important notes and explanations.

There are lots of tutorials that you can find online, though. A useful ressource is for example the [The Python Tutorial](https://docs.python.org/3/tutorial/).

Topics covered:

- Primitives (use Python as a calculator)
- Control flows (for, while, if...)
- Containers (tuple, list, dict)
- Some Python specifics!
  - Immutable vs. mutable
  - Variables: names bound to objects
  - Typing
  - List comprehensic
- Functions
- Modules
- Basic (text) File IO

## Comments

In [2]:
# in Python comments begin with '#'

## Using Python as a calculator

In [16]:
2 + 2

4

Automatic type casting for int and float (more on that later)

In [17]:
2.2 + 3

5.2

Automatic float conversion for division (only in Python 3 !!!)

In [20]:
2 / 3

0.6666666666666666

**Tip**: if you don't want integer division, use float explicitly (works with both Python 2 and 3)

In [21]:
2. / 3

0.6666666666666666

Integer division (in Python: returns floor)

In [248]:
2 // 3

0

Import math module for built-in math functions (more on how to import modules later)

In [22]:
from math import *

sin(pi / 2.0)

1.0

**Tip**: to get help interactively for a function, press shift-tab when the cursor is on the function, or alternatively use `?` or `help()`

In [250]:
sin?

Docstring:
sin(x)

Return the sine of x (measured in radians).
Type:      builtin_function_or_method

In [251]:
help(sin)

Help on built-in function sin in module math:

sin(...)
    sin(x)

    Return the sine of x (measured in radians).

Complex numbers  built in the language

In [249]:
0+1j**2

(-1+0j)

In [26]:
(3+4j).real

3.0

In [27]:
(3+4j).imag

4.0

Create variables, or rather bound values (objects) to identifiers (more on that later)

In [79]:
earth_radius = 6.371e6

In [80]:
earth_radius * 2

12742000.0

*Note*: Python instructions are usually separated by new line characters

In [77]:
a = 1
a + 2

3

It is possible to write several instructions on a single line using semi-colons, but it is strongly discouraged

In [252]:
a = 1; a + 2

3

In a notebook, only the output of the last line executed in the cell is shown

In [253]:
2 + 2
2 * 3

6

To show intermediate results, you need to use the `print()` built-in function, or write code in separate notebook cells

In [254]:
print(2 + 2)
print(2 + 3)

4
5

### Strings

String are created using single or double quotes

In [41]:
# use single or double quotes

food = "bradwurst"

dessert = 'cake'

You may need to include a single (double) quote in a string

In [278]:
s = 'you\'ll need the \\ character'

s

"you'll need the \\ character"

We still see two "\". Why??? This is actually what you want when printing the string

In [280]:
print(s)

you'll need the \ character

Other special characters (e.g., line return)

In [281]:
two_lines = "first line\nsecond line"

two_lines

'first line\nsecond line'

In [282]:
print(two_lines)

first line
second line

Long strings

In [284]:
lunch = """
Menu
----

Apetizers

...

Main courses

...

"""

Concatenate strings using the `+` operator

In [286]:
food + ' and ' + dessert

'currywurst and cake'

Concatenate strings using `join()`

In [290]:
s = ' '.join([food, 'and', dessert])

print(s)

currywurst and cake

In [289]:
s = '\n'.join([food, 'and', dessert])

print(s)

currywurst
and
cake

Some useful string manipulation (see https://docs.python.org/3/library/stdtypes.html#string-methods)

In [292]:
food = '  bratwurst  '

food.strip()

'bratwurst'

Format strings

For more info, see this very nice user guide: https://pyformat.info/

In [296]:
#  handling: see 

nb = 2

"{} bratwursts bitte !!".format(nb)

'2 bratwursts bitte !!'

In [297]:
"{number} bratwursts bitte !!".format(number=nb)

'2 bratwursts bitte !!'

## Control flow

Example of an if/else statement

In [299]:
x = -1

if x < 0:
    print("x is negative")

x is negative

Indentation is important!

In [301]:
# indentation is important!

if x < 0:
    print("x is negative")
  print(x)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 5)

**Warning**: don't mix tabs and space!!! visually it may look as properly indented but for Python tab and space are different.

A more complete example:
    
if elif else example + comparison operators (==, !=, <, >, ) + logical operators (and, or, not)

In [300]:
if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')

Negative changed to zero

The `range()` function, used in a `for` loop

In [302]:
# for loop with the range function ()

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

*Note*: by default, range starts from 0 (this is consistent with other behavior that we'll see later). Also, its stops just before the given value.

Range can be used with more parameters (see help). For example: start, stop, step:

In [303]:
for i in range(2, 8, 2):
    print(i)

2
4
6

A loop can also be used to iterate through values other than incrementing numbers (more on how to create iterables later).

In [304]:
words = ['cat', 'open', 'window', 'floor 20', 'be careful']

for w in words:
    print(w)

cat
open
window
floor 20
be careful

Control the loop: the continue statement

In [76]:
for w in words:
    if w == 'open':
        continue
    print(w)

cat
window
floor 20
be careful

More possibilities, e.g., a `while` loop and the `break` statement

In [305]:
i = 0

while True:
    i = i + 1
    print(i)
    if i > 10:
        break

1
2
3
4
5
6
7
8
9
10
11

## Containers

### Lists

In [309]:
a = [1, 2, 3, 4]

a

[1, 2, 3, 4]

Lists may contain different types of values

In [87]:
b = [1, "2", 3., 4+0j]

b

[1, '2', 3.0, (4+0j)]

Lists may contain lists (nested)

In [307]:
c = [1, [2, 3], 4]

c

[1, [2, 3], 4]

"Indexing": retrieve elements of a list by location

**Warning**: Unlike Fortran and Matlab, position start at zero!!

In [310]:
a[0]

1

Negative position is for starting the search at the end of the list

In [311]:
a[-1]

4

"Slicing": extract a sublist

In [313]:
a[0:3]

[1, 2, 3]

Iterate through a list

In [314]:
for i in a:
    print(i)

1
2
3
4

# Tuples

very similar to lists

In [315]:
t = (1, 2, 3, 4)

for i in t:
    print(i)

1
2
3
4

*Note*: the brackets are optional

In [317]:
t = 1, 2, 3, 4     # this returns a tuple

t

(1, 2, 3, 4)

"Unpacking": as with lists (or any iterable), it is possible to extract values in a tuple and assign them to new variables

In [320]:
second_item, third_item = t[1:3]

In [323]:
print(second_item)
print(third_item)

2
3

**Tip**: unpack undefined number of items

In [327]:
second_item, greater_items = t[1:]

ValueError: too many values to unpack (expected 2)

In [328]:
second_item, *greater_items = t[1:]

In [330]:
print(second_item)
print(greater_items)

2
[3, 4]

### Dictionnaries

Map keys to values

In [332]:
d = {'key1': 0, 'key2': 1}

d

{'key1': 0, 'key2': 1}

Keys must be unique.

But be careful: no error is raised if you provide multiple, identical keys!

In [348]:
d = {'key1': 0, 'key2': 1, 'key1': 3}

d

{'key1': 3, 'key2': 1}

Indexing dictionnaries by key

In [349]:
d['key1']

3

Keys are not limited to strings, they can be many things (but not anything, we'll see later)

In [350]:
d = {'key1': 0, 2: 1, 3.: 3}

d[2]    # it is not a position, it is a key!!

1

Get keys or values

In [351]:
d.keys()

dict_keys(['key1', 2, 3.0])

In [352]:
d.values()

dict_values([0, 1, 3])

## Mutable vs. immutable

We can change the value of a variable in place (after we create the variable) or we can't.

For example, lists are mutable.

In [340]:
a = [1, 2, 3, 4]

Change the value of one item in place

In [341]:
a[1] = 'two'

a

[1, 'two', 3, 4]

Append one item at the end of the list

In [342]:
a.append(5)

a

[1, 'two', 3, 4, 5]

Insert one item at a given position

In [343]:
a.insert(0, 0)

a

[0, 1, 'two', 3, 4, 5]

Extract and remove the last item

In [344]:
a.pop()

5

In [345]:
a

[0, 1, 'two', 3, 4]

Dictionnaries are mutable 

(note the order of the keys in the printed dict)

In [354]:
d = {'key1': 0, 'key2': 1, 'key1': 3}

d['a_third_key'] = 3

d

{'a_third_key': 3, 'key1': 3, 'key2': 1}

Pop an item of given key

In [355]:
d.pop('key1')

3

In [356]:
d

{'a_third_key': 3, 'key2': 1}

Tuples are immutable!

In [357]:
t = (1, 2, 3, 4)
t.append(5)

AttributeError: 'tuple' object has no attribute 'append'

Strings are immutable!

In [359]:
food = "bradwurst"

food[0:4] = "curry"

TypeError: 'str' object does not support item assignment

But is easy and efficient to create new strings

In [360]:
food = "curry" + food[-5:]

food

'currywurst'

A reason why strings are immutable?

The keys of a dictionnary cannot be mutable, e.g., we cannot not use a list

In [150]:
# keys of a dictionary cannot be mutable (more precisely hashable)

d = {[1, 2]: 'my key is a list'}

TypeError: unhashable type: 'list'

The keys of a dictionnary cannot be mutable, for a quite obvious reason that it is used as indexes, like in a database. If we allow changing the indexes, it can be a real mess!

If strings were mutable, then we could'nt use it as keys in dictionnaries.

*Note*: more precisely, keys of a dictionnary must be "hashable".

## Variables or identifiers?

What's happening here?

In [158]:
a = [1, 2, 3]
b = a

b[0] = 'one'

a

['one', 2, 3]

Explanation: the concept of variable is different in Python than in, e.g., C or Fortran

`a = [1, 2, 3]` means we create a list object and we bind this object to a name (label or identifier) "a"
`b = a` means we bind the same object to a new name "b"

You can find more details and good illustrations here: https://nedbatchelder.com/text/names1.html

`id()` returns the (unique) identifiant of the value (object) bound to a given identifier

In [383]:
id(a)

4351032064

In [161]:
id(b)

4396228104

`is` : check whether two identifiers are bound to the same value (object)

In [162]:
a is b

True

OK, but how do you explain this?

In [163]:
a = 1
b = a

b = 2

a

1

In [164]:
# explanation: This is because integers are immutable in Python
# We can't change the value "1" bound to the name "a"
# What "b = 2" does instead: it remove the link to value "1", creates a new value "2", and bind it to "b"

In [165]:
a is b

False

Can you explain what's going on here?

In [384]:
a = 1
b = 2

b = a + b

b

3

Where does go the value "2" that was initially bounded to "b"?

In [168]:
# It goes to the garbage (Python garbage collector), so that we can free memory.
# As soon as a value is not bounded to any name, it goes to the garbage

OK, now what about this? Very confusing!

In [169]:
# integers are immutable but the code below doesn't seem to support that

a = 1
b = 1

a is b

True

In [170]:
# this is a special case only for, e.g., small integers and small strings
# floats work fine

a = 1.
b = 1.

a is b

False

## Dynamic, strong, duck typing

Dynamic typing: no need to explicitly declare a type of an object/variable before using it. This is done automatically depending on the given object/value.

In [362]:
a = 1

Strong typing: Converting from one type to another must be explicit, i.e., a value of a given type cannot be magically converted into another type

In [363]:
a + '1'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [364]:
a + int(1)

2

An exception: integer to float casting

In [365]:
a + 1.

2.0

Duck typing: The type of an object doesn't really matter. What an object can or cannot do is more important.

> "If it walks like a duck and it quacks like a duck, then it must be a duck"

For example, we can show that iterating trough list, string or dict can be done using the exact same loop

In [366]:
var = [1, 2, 3, 4]

for i in var:
    print(i)

1
2
3
4

In [367]:
var = 'abcd'

for i in var:
    print(i)

a
b
c
d

In [368]:
var = {'key1': 1, 'key2': 2, 'key3': 3, 'key4': 4}

for i in var:
    print(i)

key1
key2
key3
key4

In the last case, iterating a dictionnary uses the keys.

It is possible to iterate the values:

In [371]:
for v in var.values():
    print(v)

1
2
3
4

Or more useful, iterate trough both keys and values

In [372]:
for k, v in var.items():
    print(k, v)

key1 1
key2 2
key3 3
key4 4

Arithmetic operators can be obviously applied on integer, float...

In [373]:
1 + 1

2

In [374]:
2 + 0.5

2.5

...but also on strings and lists (in this case it does concatenation)

In [375]:
[1, 2, 3] + ['a', 'b', 'c']

[1, 2, 3, 'a', 'b', 'c']

In [376]:
'one' + 'other'

'oneother'

... and also mixing the types, e.g., repeat sequence x times

In [377]:
[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [378]:
'one' * 3

'oneoneone'

...although, everything is not possible

In [379]:
[1, 2, 3] * 3.5   # not everything is possible

TypeError: can't multiply sequence by non-int of type 'float'

Boolean: what is True and what is False

In [380]:
print(True)
print(False)

True
False

In [381]:
print(bool(0))
print(bool(1))

False
True

In [192]:
print(bool(''))
print(bool('non-empty-string'))

False
True

In [193]:
print(bool([]))
print(bool([1, 2, 3, 4]))

False
True

In [195]:
print(bool({}))
print(bool({'key': 1}))

False
True

## list comprehension

Example: we create a list from another one using a `for` loop

In [385]:
# create a list from another one

ints = [1, 2, 3, 4]
floats = []

for i in ints:
    floats.append(float(i))
    
floats

[1.0, 2.0, 3.0, 4.0]

But there is a much more succint way to do it. It is still (and maybe even more) readable

In [172]:
floats = [float(i) for i in ints]

floats

[1.0, 2.0, 3.0, 4.0]

More complex example, with conditions

In [173]:
floats_no3 = [float(i) for i in ints if i != 3]

floats_no3

[1.0, 2.0, 4.0]

Other kinds of conditions

(It starts to be less readable -> don't abuse list comprehension)

In [386]:
# other kind of condition 

floats_str3 = [float(i) if i != 3 else str(i) for i in ints]

floats_str3

[1.0, 2.0, '3', 4.0]

Dict comprehensions

In [387]:
int2float_map = {i: float(i) for i in ints}

int2float_map

{1: 1.0, 2: 2.0, 3: 3.0, 4: 4.0}

## Functions

A function take value(s) as input and (optionally) return value(s) as output

inputs = arguments

In [389]:
def add(a, b):
    return a + b

We can call it several times with different values

In [390]:
print(add(1, 2))
print(add(2, 3))

3
5

Nested calls

In [393]:
add(add(1, 2), 3)

6

Duck typing is really useful! A single function for doing many things (write less code)

In [199]:
add(1., 2.)

3.0

In [200]:
add('one', 'two')

'onetwo'

In [201]:
add([1, 2, 3], [4, 5, 6])

[1, 2, 3, 4, 5, 6]

Functions have a scope that is local

In [205]:
a = 1

def func():
    a = 2   # only visible inside the function

a   # still return 1

1

Call by value?

In [394]:
def func(j):
    j = j + 1
    print('inside: ', j)

i = 1
print("before: ", i)
func(i)
print("after: ", i)

before:  1
inside:  2
after:  1

Not really...

In [395]:
# the example above seems 'by value' because integers are immutables
# actually, functions just create another identifier for the same object rather than passing a copy
# let's see with a list

def func(li):
    li[0] += 1
    print('inside: ', li[0])

li = [1]
print("before: ", li[0])
func(li)
print("after: ", li[0])

before:  1
inside:  2
after:  2

Composing functions (start to look like functional programming)

In [397]:
def fahr_to_kelvin(temp):
    return ((temp - 32) * (5/9)) + 273.15

def kelvin_to_celsius(temp_k):
    return temp_k - 273.15

def fahr_to_celsius(temp_f):
    temp_k = fahr_to_kelvin(temp_f)
    result = kelvin_to_celsius(temp_k)
    return result

Function docstring (help)

In [413]:
def fahr_to_kelvin(temp):
    """Convert `temp` given in Farhenheit and return
    the value in Kelvin.
    """
    return ((temp - 32) * (5/9)) + 273.15

In [414]:
fahr_to_kelvin?

Signature: fahr_to_kelvin(temp)
Docstring:
Convert `temp` given in Farhenheit and return
the value in Kelvin.
File:      ~/Projects/python_short_course/notebooks/<ipython-input-413-4bbe6685a3b5>
Type:      function

Default argument values (keyword arguments)

In [209]:
def display(a=1, b=2, c=3):
    print(a, b, c)

In [210]:
display()

1 2 3

When calling a function, the order of the keyword arguments doesn't matter

But the order matters for positional arguments!!

In [399]:
display(c=4, b=1)

1 1 4

Mix positional and keyword arguments: positional arguments must be added before keyword arguments

In [400]:
def display(a=1, b=2, c):
    print(a, b, c)

SyntaxError: non-default argument follows default argument (<ipython-input-400-d8ece7b84758>, line 1)

What's going on here?

In [243]:
def add_to_list(li=[], value=1):
    li.append(1)
    return li

In [244]:
add_to_list()

[1]

In [245]:
add_to_list()

[1, 1]

In [246]:
add_to_list()

[1, 1, 1]

Try running again the cell that defines the function, and then the cells that call the function

This is sooo confusing!

In [402]:
# explanation: default values are stick to the function
# each time we call the function with the default value, it uses the same value.
# so here it reuse the same list

# running again the cell that defines the function resets the default value

So you shouldn't use mutable objects as default values

Workaround:

In [403]:
def add_to_list(li=None, value=1):
    if li is None:
        li = []
    li.append(1)
    return li

In [404]:
add_to_list()

[1]

In [405]:
add_to_list()

[1]

Arbitrary number of arguments

In [406]:
def display_args(*args):
    print(*args)

In [407]:
display_args('1')

1

In [408]:
display_args('1', 2, 'bradwurst', [0, 1, 2, 3])

1 2 bradwurst [0, 1, 2, 3]

Arbitrary number of keyword arguments

In [410]:
# same for keyword arguments

def display_args_kwargs(*args, **kwargs):
    print(*args)
    print(kwargs)  # is a dictionnary

In [231]:
display_args_kwargs('1', c=2, bradwurst='good')

1
{'c': 2, 'bradwurst': 'good'}

Return more than one value (tuple)

In [412]:
def spherical_coords(x, y, z):
    # ...
    return r, theta, phi

## Modules

Modules are Python code in (`.py`) files that can be imported from within Python.

Like functions, it allows to reusing the code in different contexts.

Write a module with the temperature conversion functions above

(note: the `%%writefile` is a magic cell command in the notebook that writes the content of the cell in a file)

In [415]:
%%writefile temp_converters.py

def fahr_to_kelvin(temp):
    return ((temp - 32) * (5/9)) + 273.15

def kelvin_to_celsius(temp_k):
    return temp_k - 273.15

def fahr_to_celsius(temp_f):
    temp_k = fahr_to_kelvin(temp_f)
    result = kelvin_to_celsius(temp_k)
    return result

Writing temp_converters.py

Import a module

In [416]:
import temp_converters

Access the functions imported with the module using the module name as a "namespace"

**Tip**: imported module + dot + <tab> for autocompletion

In [419]:
temp_converters.fahr_to_celsius(50)

10.0

Import the module with a (short) alias for the namespace

In [420]:
import temp_converters as tc

In [421]:
tc.fahr_to_celsius(50)

10.0

Import just a function from the module

In [422]:
# note don't need to import dependent functions fahr_to_kelvin and kelvin_to_celsius

from temp_converters import fahr_to_celsius

In [423]:
fahr_to_celsius(50)

10.0

Import everything in the module (without using a namespace)

Strongly discouraged!! Name conflicts!

In [424]:
from temp_converters import *

In [426]:
fahr_to_kelvin(50)

283.15

## (Text) file IO

Let's create a small file with some data

In [428]:
%%writefile data.csv

"depth", "some_variable"
200, 2.4e2
400, 3.7e2
600, 6.3e2

Writing data.csv

Open the file using Python:

In [434]:
f = open("data.csv", "r")

Read the content

In [435]:
raw_text_data = f.readlines()   # returns a list with each line as a string

raw_text_data

['\n',
 '"depth", "some_variable"\n',
 '200, 2.4e2\n',
 '400, 3.7e2\n',
 '600, 6.3e2']

What happens here?

In [436]:
f.readlines()   # returns an empty list, why?

[]

In [437]:
# because readlines moves a "pointer" as it reads the content

In [438]:
f.seek(0)
f.readlines()

['\n',
 '"depth", "some_variable"\n',
 '200, 2.4e2\n',
 '400, 3.7e2\n',
 '600, 6.3e2']

Close the file

In [433]:
f.close()

It is safer to use the `with` statement (contexts)

In [439]:
with open("data.csv", "r") as f:
    raw_text_data = f.readlines()

We don't need to close the file, it is done automatically after executing the block of instructions under the `with` statement

In [441]:
f.closed

True

It is safer because if an error happens within the block of instructions, the file is closed anyway.

Note here how we can explicitly raise an Error. There are many kinds of exceptions, see: https://docs.python.org/3/library/exceptions.html#bltin-exceptions

In [442]:
with open("data.csv", "r") as f:
    raw_text_data = f.readlines()
    raise ValueError()

ValueError:

In [443]:
f.closed

True

*Note*: there are much more efficient ways to import data from a csv file!!! We'll see that later using scientific libraries.