# Introduction to the Python language

**Note**: This notebooks is not really a ready-to-use tutorial but rather serves as a table of contents that we will fill during the short course. It might later be useful as a memo, but it clearly lacks important notes and explanations.

There are lots of tutorials that you can find online, though. A useful ressource is for example the [The Python Tutorial](https://docs.python.org/3/tutorial/).

Topics covered:

- Primitives (use Python as a calculator)
- Control flows (for, while, if...)
- Containers (tuple, list, dict)
- Some Python specifics!
  - Immutable vs. mutable
  - Variables: names bound to objects
  - Typing
  - List comprehensions
- Functions
- Modules
- Basic (text) File IO

## Comments

In [1]:
# this is a comment

## Using Python as a calculator

In [3]:
2 / 2

1.0

Automatic type casting for int and float (more on that later)

In [4]:
2 + 2.

4.0

Automatic float conversion for division (only in Python 3 !!!)

In [5]:
2 / 3

0.6666666666666666

**Tip**: if you don't want integer division, use float explicitly (works with both Python 2 and 3)

In [7]:
2. / 3

0.6666666666666666

Integer division (in Python: returns floor)

In [8]:
2 // 3

0

Import math module for built-in math functions (more on how to import modules later)

In [11]:
import math

math.sin(math.pi / 2)

math.log(2.)

0.6931471805599453

**Tip**: to get help interactively for a function, press shift-tab when the cursor is on the function, or alternatively use `?` or `help()`

In [12]:
math.log?

In [13]:
help(math.log)

Help on built-in function log in module math:

log(...)
    log(x[, base])

    Return the logarithm of x to the given base.
    If the base not specified, returns the natural logarithm (base e) of x.

Complex numbers  built in the language

In [14]:
0+1j**2

(-1+0j)

In [15]:
(3+4j).real

3.0

In [16]:
(3+4j).imag

4.0

Create variables, or rather bound values (objects) to identifiers (more on that later)

In [17]:
earth_radius = 6.371e6

In [18]:
earth_radius * 2

12742000.0

*Note*: Python instructions are usually separated by new line characters

In [19]:
a = 1
a + 2

3

It is possible to write several instructions on a single line using semi-colons, but it is strongly discouraged

In [20]:
a = 1; a + 1

2

In [22]:
A

NameError: name 'A' is not defined

In a notebook, only the output of the last line executed in the cell is shown

In [23]:
a = 10
2 + 2

4

In [25]:
a

10

In [26]:
2 + 2
2 + 1

3

To show intermediate results, you need to use the `print()` built-in function, or write code in separate notebook cells

In [27]:
print(2 + 2)
print(2 + 1)

4
3

### Strings

String are created using single or double quotes

In [28]:
food = "bradwurst"

dessert = 'cake'

You may need to include a single (double) quote in a string

In [29]:
s = 'you\'ll need the \\ character'

s

"you'll need the \\ character"

We still see two "\". Why??? This is actually what you want when printing the string

In [30]:
print(s)

you'll need the \ character

Other special characters (e.g., line return)

In [34]:
two_lines = "frist_line\n\tsecond_line"

two_lines

'frist_line\n\tsecond_line'

In [35]:
print(two_lines)

frist_line
	second_line

Long strings

In [36]:
lunch = """
Menu 

Main courses

"""

lunch

'\nMenu \n\nMain courses\n\n'

In [37]:
print(lunch)

Menu

Main courses

Concatenate strings using the `+` operator

In [38]:
food + ' and ' + dessert

'bradwurst and cake'

Concatenate strings using `join()`

In [41]:
s = ' '.join([food, 'and', dessert, 'coffee'])

s

'bradwurst and cake coffee'

In [44]:
s = '\n'.join([food, 'and', dessert, 'coffee'])

print(s)

bradwurst
and
cake
coffee

Some useful string manipulation (see https://docs.python.org/3/library/stdtypes.html#string-methods)

In [45]:
food = '    bradwurst    '

food.strip()

'bradwurst'

Format strings

For more info, see this very nice user guide: https://pyformat.info/

In [46]:
nb = 2

"{} bradwursts bitte!".format(nb)

'2 bradwursts bitte!'

In [47]:
"{number} bradwursts bitte!".format(number=nb)

'2 bradwursts bitte!'

## Control flow

Example of an if/else statement

In [48]:
x = -1

if x < 0:
    print("negative")

negative

Indentation is important!

In [54]:
x = 1

if x < 0:
    print("negative")
    print(x)

print(x)

1

**Warning**: don't mix tabs and space!!! visually it may look as properly indented but for Python tab and space are different.

A more complete example:
    
if elif else example + comparison operators (==, !=, <, >, ) + logical operators (and, or, not)

In [71]:
x = -1

In [72]:
if x < 0:
    x = 0
    print("negative and changed to zero")
elif x == 0:
    print("zero")
elif x == 1:
    print("Single")
else:
    print("More")

negative and changed to zero

In [67]:
True and False

False

The `range()` function, used in a `for` loop

In [75]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

*Note*: by default, range starts from 0 (this is consistent with other behavior that we'll see later). Also, its stops just before the given value.

Range can be used with more parameters (see help). For example: start, stop, step:

In [1]:
for i in range(1, 11, 2):
    print(i)

1
3
5
7
9

A loop can also be used to iterate through values other than incrementing numbers (more on how to create iterables later).

In [2]:
words = ['cat', 'open', 'window', 'floor 20', 'be careful']

for w in words:
    print(w)

cat
open
window
floor 20
be careful

Control the loop: the continue statement

In [3]:
for w in words:
    if w == 'open':
        continue
    print(w)

cat
window
floor 20
be careful

More possibilities, e.g., a `while` loop and the `break` statement

In [10]:
i = 0

while True:
    i = i + 1
    print(i)
    if i > 9:
        break

1
2
3
4
5
6
7
8
9
10

## Containers

### Lists

In [24]:
a = [1, 2, 3, 4]

a

[1, 2, 3, 4]

Lists may contain different types of values

In [12]:
a = [1, "2", 3., 4+0j]

a

[1, '2', 3.0, (4+0j)]

Lists may contain lists (nested)

In [14]:
c = [1, [2, 3], 4]

c

[1, [2, 3], 4]

"Indexing": retrieve elements of a list by location

**Warning**: Unlike Fortran and Matlab, position start at zero!!

In [21]:
c[0]

1

Negative position is for starting the search at the end of the list

In [28]:
a = [1, 2, 3, 4]

a[-1]

4

"Slicing": extract a sublist

In [30]:
a

[1, 2, 3, 4]

In [38]:
list(range(4))

[0, 1, 2, 3]

$$[0, 4[$$

Iterate through a list

In [39]:
for i in a:
    print(i)

1
2
3
4

# Tuples

very similar to lists

In [41]:
t = (1, 2, 3, 4)

t

(1, 2, 3, 4)

*Note*: the brackets are optional

In [43]:
t = 1, 2, 3, 4

t

(1, 2, 3, 4)

"Unpacking": as with lists (or any iterable), it is possible to extract values in a tuple and assign them to new variables

In [46]:
t[1:3]

(2, 3)

In [50]:
second_item, third_item = t[1], t[2]

In [51]:
print(second_item)
print(third_item)

2
3

**Tip**: unpack undefined number of items

In [52]:
second_item, *greater_items = t[1:]

In [53]:
second_item

2

In [54]:
greater_items

[3, 4]

### Dictionnaries

Map keys to values

In [55]:
d = {'key1': 0, 'key2': 1}

d

{'key1': 0, 'key2': 1}

Keys must be unique.

But be careful: no error is raised if you provide multiple, identical keys!

In [56]:
d = {'key1': 0, 'key2': 1, 'key1': 3}

d

{'key1': 3, 'key2': 1}

Indexing dictionnaries by key

In [59]:
d['key1']

3

Keys are not limited to strings, they can be many things (but not anything, we'll see later)

In [60]:
d = {'key1': 0, 2: 1, 3.: 3}

d[2]

1

Get keys or values

In [61]:
d.keys()

dict_keys(['key1', 2, 3.0])

In [62]:
d.values()

dict_values([0, 1, 3])

In [63]:
a[d['key1']]

1

In [69]:
d = {
    'benoit': {
        'age': 33,
        'section':'5.5'
    }
}

In [70]:
d['benoit']['age']

33

## Mutable vs. immutable

We can change the value of a variable in place (after we create the variable) or we can't.

For example, lists are mutable.

In [71]:
a = [1, 2, 3, 4]

a

[1, 2, 3, 4]

Change the value of one item in place

In [74]:
a[0] = 'one'

a

['one', 2, 3, 4]

Append one item at the end of the list

In [75]:
a.append(5)

a

['one', 2, 3, 4, 5]

Insert one item at a given position

In [78]:
a.insert(0, 'zero')

a

['zero', 0, 'one', 2, 3, 4, 5]

Extract and remove the last item

In [79]:
a.pop()

5

In [80]:
a

['zero', 0, 'one', 2, 3, 4]

Dictionnaries are mutable 

(note the order of the keys in the printed dict)

In [81]:
d = {'key1': 0, 'key2': 1, 'key3': 2}

d['key4'] = 4

d

{'key1': 0, 'key2': 1, 'key3': 2, 'key4': 4}

Pop an item of given key

In [82]:
d.pop('key1')

0

In [83]:
d

{'key2': 1, 'key3': 2, 'key4': 4}

Tuples are immutable!

In [84]:
t = (1, 2, 3, 4)

t.append(5)

AttributeError: 'tuple' object has no attribute 'append'

Strings are immutable!

In [91]:
food = "bradwurst"

food[0:4] = "cury"

TypeError: 'str' object does not support item assignment

But is easy and efficient to create new strings

In [92]:
food = "curry" + food[-5:]

food

'currywurst'

A reason why strings are immutable?

The keys of a dictionnary cannot be mutable, e.g., we cannot not use a list

In [93]:
d = {[1, 3]: 0}

TypeError: unhashable type: 'list'

The keys of a dictionnary cannot be mutable, for a quite obvious reason that it is used as indexes, like in a database. If we allow changing the indexes, it can be a real mess!

If strings were mutable, then we could'nt use it as keys in dictionnaries.

*Note*: more precisely, keys of a dictionnary must be "hashable".

## Variables or identifiers?

What's happening here?

In [95]:
a = [1, 2, 3]

b = a

b[0] = 'one'

a

['one', 2, 3]

Explanation: the concept of variable is different in Python than in, e.g., C or Fortran

`a = [1, 2, 3]` means we create a list object and we bind this object to a name (label or identifier) "a"
`b = a` means we bind the same object to a new name "b"

You can find more details and good illustrations here: https://nedbatchelder.com/text/names1.html

`id()` returns the (unique) identifiant of the value (object) bound to a given identifier

In [96]:
id(a)

4474617480

In [97]:
id(b)

4474617480

`is` : check whether two identifiers are bound to the same value (object)

In [98]:
a is b

True

OK, but how do you explain this?

In [99]:
a = 1
b = a

b = 2

a

1

In [100]:
a is b

False

In [101]:
id(a)

4430345552

In [102]:
id(b)

4430345584

Can you explain what's going on here?

In [103]:
a = 1
b = 2

b = a + b

b

3

Where does go the value "2" that was initially bounded to "b"?

OK, now what about this? Very confusing!

In [106]:
a = 1
b = 1

a is b

True

In [107]:
a = 1.
b = 1.

a is b

False

## Dynamic, strong, duck typing

Dynamic typing: no need to explicitly declare a type of an object/variable before using it. This is done automatically depending on the given object/value.

In [108]:
a = 1

In [109]:
type(a)

int

Strong typing: Converting from one type to another must be explicit, i.e., a value of a given type cannot be magically converted into another type

In [110]:
a + '1'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [111]:
a + int('1')

2

In [112]:
eval('1 + 2 * 3')

7

An exception: integer to float casting

In [113]:
a + 1.

2.0

Duck typing: The type of an object doesn't really matter. What an object can or cannot do is more important.

> "If it walks like a duck and it quacks like a duck, then it must be a duck"

For example, we can show that iterating trough list, string or dict can be done using the exact same loop

In [114]:
var = [1, 2, 3, 4]

for i in var:
    print(i)

1
2
3
4

In [115]:
var = 'abcd'

for i in var:
    print(i)

a
b
c
d

In [119]:
var = {'key1': 1, 'key2': 2}

for i in var:
    print(i)

key1
key2

In the last case, iterating a dictionnary uses the keys.

It is possible to iterate the values:

In [117]:
for v in var.values():
    print(v)

1
2

Or more useful, iterate trough both keys and values

In [129]:
for k, v in var.items():
    print(k, v)

key1 1
key2 2

In [123]:
t = ('key1', 1)

In [124]:
k, v = t

In [127]:
var.items()

dict_items([('key1', 1), ('key2', 2)])

Arithmetic operators can be obviously applied on integer, float...

In [131]:
1 + 1

2

In [132]:
1 + 2.

3.0

...but also on strings and lists (in this case it does concatenation)

In [133]:
[1, 2, 3] + ['a', 'b', 'c']

[1, 2, 3, 'a', 'b', 'c']

In [134]:
'other' + 'one'

'otherone'

... and also mixing the types, e.g., repeat sequence x times

In [135]:
[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [136]:
'one' * 3

'oneoneone'

...although, everything is not possible

In [137]:
[1, 2, 3] * 3.5

TypeError: can't multiply sequence by non-int of type 'float'

Boolean: what is True and what is False

In [139]:
print(True)
print(False)

True
False

In [142]:
print(bool(0))
print(bool(-1))

False
True

In [148]:
a = 1.7

if a:
    print('non zero')

non zero

In [149]:
print(bool(''))
print(bool('no empty'))

False
True

In [150]:
print(bool([]))
print(bool([1, 2]))

False
True

In [151]:
print(bool({}))
print(bool({'key1': 1}))

False
True

In [153]:
d = {}

if not d:
    print('there is no item')

there is no item

## list comprehension

Example: we create a list from another one using a `for` loop

In [154]:
ints = [1, 3, 5, 0, 2, 0]

true_or_false = []

for i in ints:
    true_or_false.append(bool(i))

true_or_false

[True, True, True, False, True, False]

But there is a much more succint way to do it. It is still (and maybe even more) readable

In [155]:
true_or_false = [bool(i) for i in ints]

true_or_false

[True, True, True, False, True, False]

More complex example, with conditions

In [159]:
float_no3 = [float(i) for i in ints if i != 3]

float_no3

[1.0, 5.0, 0.0, 2.0, 0.0]

Other kinds of conditions

(It starts to be less readable -> don't abuse list comprehension)

In [160]:
float_str3 = [float(i) if i != 3 else str(i) for i in ints]

float_str3

[1.0, '3', 5.0, 0.0, 2.0, 0.0]

Dict comprehensions

In [161]:
int2float_map = {i: float(i) for i in ints}

int2float_map

{0: 0.0, 1: 1.0, 2: 2.0, 3: 3.0, 5: 5.0}

## Functions

A function take value(s) as input and (optionally) return value(s) as output

inputs = arguments

In [167]:
def add(a, b):
    """Add two things."""
    return a + b

In [165]:
def print_the_argument(arg):
    print(arg)

In [166]:
print_the_argument('a string')

a string

We can call it several times with different values

In [164]:
add(1, 3)

4

In [168]:
help(add)

Help on function add in module __main__:

add(a, b)
    Add two things.

Nested calls

In [169]:
add(add(1, 2), 3)

6

Duck typing is really useful! A single function for doing many things (write less code)

In [170]:
add(1., 2.)

3.0

In [171]:
add('one', 'two')

'onetwo'

In [172]:
add([1, 2, 3], [1, 2, 3])

[1, 2, 3, 1, 2, 3]

Functions have a scope that is local

In [180]:
a = 1

def func():
    a = 2

a

1

In [181]:
func()

In [182]:
a

1

Call by value?

In [184]:
def func(j):
    j = j + 1
    print('inside: ', j)
    return j

i = 1
print('before:', i)
i = func(i)
print('after:', i)

before: 1
inside:  2
after: 2

Not really...

In [185]:
def func(li):
    li[0] = 1000
    print('inside: ', li[0])

li = [1]
print('before:', li[0])
func(li)
print('after:', li[0])

before: 1
inside:  1000
after: 1000

Composing functions (start to look like functional programming)

In [205]:
C2K_OFFSET = 273.15

def fahr_to_kelvin(temp):
    """convert temp from fahrenheit to kelvin"""
    return ((temp - 32) * (5/9)) + C2K_OFFSET

def kelvin_to_celsius(temp_k):
    # convert temperature from kevin to celsius
    return temp_k - C2K_OFFSET

def fahr_to_celsius(temp_f):
    temp_k = fahr_to_kelvin(temp_f)
    temp_c = kelvin_to_celsius(temp_k)
    return temp_c

In [202]:
fahr_to_kelvin(50)

283.15

In [204]:
fahr_to_celsius(50)

10.0

Function docstring (help)

Default argument values (keyword arguments)

In [206]:
def display(a=1, b=2, c=3):
    print(a, b, c)

In [208]:
display(b=4)

1 4 3

When calling a function, the order of the keyword arguments doesn't matter

But the order matters for positional arguments!!

In [209]:
display(c=5, a=1)

1 2 5

In [211]:
display(3)

3 2 3

Mix positional and keyword arguments: positional arguments must be added before keyword arguments

In [217]:
def display(c, a=1, b=2):
    print(a, b, c)

In [218]:
display(1000)

1 2 1000

What's going on here?

In [234]:
def add_to_list(li=[], value=1):
    li.append(value)
    return li

In [235]:
add_to_list()

[1]

In [232]:
add_to_list()

[1, 1, 1, 1, 1, 1, 1, 1, 1]

In [233]:
add_to_list()

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

Try running again the cell that defines the function, and then the cells that call the function

This is sooo confusing!

So you shouldn't use mutable objects as default values

Workaround:

In [236]:
def add_to_list(li=None, value=1):
    if li is None:
        li = []
    li.append(value)
    return li

In [243]:
add_to_list()

[1]

In [239]:
add_to_list()

[1]

Arbitrary number of arguments

In [253]:
def display_args(*args):
    print(args)
    nb_args = len(args)
    print(nb_args)
    print(*args)

In [256]:
display_args('one')

('one',)
1
one

In [257]:
display_args(1, '2', 'bradwurst')

(1, '2', 'bradwurst')
3
1 2 bradwurst

Arbitrary number of keyword arguments

In [270]:
def display_args_kwargs(*args, **kwargs):
    print(*args)
    print(kwargs)

In [271]:
display_args_kwargs('one', 2, three=3.)

one 2
{'three': 3.0}

Return more than one value (tuple)

In [272]:
def spherical_coords(x, y, z):
    # convert
    return r, theta, phi

## Modules

Modules are Python code in (`.py`) files that can be imported from within Python.

Like functions, it allows to reusing the code in different contexts.

Write a module with the temperature conversion functions above

(note: the `%%writefile` is a magic cell command in the notebook that writes the content of the cell in a file)

In [274]:
%%writefile temp_converter.py

C2K_OFFSET = 273.15

def fahr_to_kelvin(temp):
    """convert temp from fahrenheit to kelvin"""
    return ((temp - 32) * (5/9)) + C2K_OFFSET

def kelvin_to_celsius(temp_k):
    # convert temperature from kevin to celsius
    return temp_k - C2K_OFFSET

def fahr_to_celsius(temp_f):
    temp_k = fahr_to_kelvin(temp_f)
    temp_c = kelvin_to_celsius(temp_k)
    return temp_c

Overwriting temp_converter.py

Import a module

In [2]:
import temp_converter

Access the functions imported with the module using the module name as a "namespace"

**Tip**: imported module + dot + <tab> for autocompletion

In [4]:
temp_converter.fahr_to_celsius(100.)

37.77777777777777

Import the module with a (short) alias for the namespace

In [5]:
import temp_converter as tc

In [6]:
tc.fahr_to_celsius(100.)

37.77777777777777

Import just a function from the module

In [7]:
from temp_converter import fahr_to_celsius

In [8]:
fahr_to_celsius(100.)

37.77777777777777

Import everything in the module (without using a namespace)

Strongly discouraged!! Name conflicts!

In [9]:
from temp_converter import *

In [10]:
kelvin_to_celsius(270)

-3.1499999999999773

## (Text) file IO

Let's create a small file with some data

In [11]:
%%writefile data.csv
"depth", "some_variable"
200, 2.4e2
400, 5.6e2
600, 2.6e8

Writing data.csv

Open the file using Python:

In [12]:
f = open("data.csv", "r")

In [13]:
f

Read the content

In [14]:
raw_data = f.readlines()

raw_data

['"depth", "some_variable"\n', '200, 2.4e2\n', '400, 5.6e2\n', '600, 2.6e8']

What happens here?

In [15]:
f.readlines()

[]

In [16]:
f.seek(0)
f.readlines()

['"depth", "some_variable"\n', '200, 2.4e2\n', '400, 5.6e2\n', '600, 2.6e8']

Close the file

In [18]:
f.close()

It is safer to use the `with` statement (contexts)

In [20]:
with open("data.csv") as f:
    raw_data = f.readlines()

raw_data

['"depth", "some_variable"\n', '200, 2.4e2\n', '400, 5.6e2\n', '600, 2.6e8']

In [21]:
f.closed

True

We don't need to close the file, it is done automatically after executing the block of instructions under the `with` statement

It is safer because if an error happens within the block of instructions, the file is closed anyway.

Note here how we can explicitly raise an Error. There are many kinds of exceptions, see: https://docs.python.org/3/library/exceptions.html#bltin-exceptions

In [22]:
with open("data.csv") as f:
    raw_data = f.readlines()
    raise ValueError("something wrong happened")

raw_data

ValueError: something wrong happened

In [23]:
f.closed

True

*Note*: there are much more efficient ways to import data from a csv file!!! We'll see that later using scientific libraries.